body {
  background-color: #444;
  color: white;
  margin: 20px;
  font-size: 40px;
  font-family: Ayuthaya;
  border: 10px;
  border-color: aliceblue;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: darkgray;
  color: white;
  border: 1px solid #999;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 170px;
  height: 170px;
}

.square:focus {
  outline: none;
  background-color: #222;
}

.status {
  margin: 20px;
  font-size: 24px;
}

.btn {
  color: rgb(120, 118, 118);
  font-size:16px;
  font-family: Ayuthaya;
  font-weight: 400;
  line-height: 45px;
  margin: 1rem 0 2em;
  max-width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
}
