@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-color: rgb(126, 124, 124);
  color: white;
  margin: 20px;
  font-size: 40px;
  font-family: Ayuthaya;
  border: 10px;
  border-color: aliceblue;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whole-board {
 padding-top: 20px;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: rgb(255, 255, 255);
  color: rgb(49, 48, 48);
  border: 10px solid rgb(88, 87, 87);
  padding: 0;
  font-size: 140px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  width: 180px;
  height: 180px;
}

.square:focus {
  outline: none;
  background-color: #222;
}

.status {
  margin: 20px;
  font-size: 24px;
  background-color: rgb(88, 87, 87);
  text-align: center;
  margin: auto;
  padding-bottom: 22px;
  padding-top: 15px;
}

.btn {
  color: rgb(120, 118, 118);
  font-size:16px;
  font-family: Ayuthaya;
  font-weight: 400;
  line-height: 45px;
  margin: 1rem 0 2em;
  max-width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border: 10px solid rgb(88, 87, 87);
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
}
